<!-- <div class="row">
    <div class="col-md-4">
          <div class="card mb-3">
              <h3 class="card-header"> {{ request.user.name }} </h3>
              <img style="height: 30%; width: auto; display: block;" src="{{request.user.image}}" alt="Card image">

              <div class="card-body">
                  <a href="{{request.user.url}}">
                      <button type="button" class="btn btn-outline-success">view profile</button>
                  </a>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Username : {{request.user.name}} </li>
                <li class="list-group-item"> Location : {{request.user.location}} </li>
                <li class="list-group-item"> Email : {{request.user.email}} </li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-outline-info">{{request.user.followers}} followers</button>
                </a>
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-outline-info">{{request.user.following}} following</button>
                </a>
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-outline-info">{{request.user.repos}} Repos</button>
                </a>
              </div>
              <div class="card-footer text-muted">
                  {{request.user.memberSince}} {{request.user.memberSince|date}}
              </div>
            </div>
    </div>

      <div  class="col-md-8">
          <a href="#" class="list-group-item list-group-item-action active">
              {{request.user.name}} Repos
            </a>
          <ul style='list-style: none' *ngFor='let repo of request.repos$ ; let i = index' class="list-group">
              <li>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{request.repos$[i].url}}">
                    {{i+1}} . {{request.repos$[i].name}}
                </a>
                <span class="badge badge-primary badge-pill">{{request.repos$[i].watchers}}watchers | {{request.repos$[i].forks}} forks</span>
              </li>
            </ul>
      </div>

  </div> -->
